[paths]
_site-packages-to-src-mapping =
  .
  */lib/pypy*/site-packages
  */lib/python*/site-packages
  *\Lib\site-packages

[run]
branch = true
cover_pylib = false
parallel = true
relative_files = true
source =
  .
source_pkgs =
  aiosignal
