[html]
show_contexts = true
skip_covered = false

[paths]
_site-packages-to-src-mapping =
  .
  */lib/pypy*/site-packages
  */lib/python*/site-packages
  *\Lib\site-packages

[report]
fail_under = 98
skip_covered = true
skip_empty = true
show_missing = true
exclude_also =
  ^\s*@pytest\.mark\.xfail

[run]
branch = true
cover_pylib = false
omit =
  setup.py
parallel = true
relative_files = true
source =
  .
source_pkgs =
  aiosignal
