*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.direnv
.envrc
.idea
.installed.cfg
.noseids
.tox
.vimrc
bin
build
htmlcov
develop-eggs
dist
docs/_build/
eggs
include/
lib/
man/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
.install-deps
.develop
.gitconfig
.flake
.python-version
.pytest_cache
.vscode
.mypy_cache
pip-wheel-metadata
